body {
  margin: 0;
  overflow: hidden;
}

#road-background {
  position: absolute;
  width: 100%; /* Adjust the width to your image size */
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("gambar/jalan.webp");
  background-size: cover;
  animation: scrollLeft 5s linear infinite;
}

#road-background-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("gambar/jalan.webp");
  background-size: cover;
  animation: scrollLeft2 5s linear infinite;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes scrollLeft2 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.mobil {
  position: absolute;
  width: 150px;
  height: 130px;
  position: relative;
  transition: top 0.5s ease;
}

@keyframes rockMove {
  0% {
    transform: translateX(0); /* Posisi mulai */
  }
  100% {
    transform: translateX(-110vw); /* Posisi akhir */
  }
}
